{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}   
    <body>
        <link rel="stylesheet" href="css/bootstrap.css" media="all" type="text/css">
        <center><h1 style="color: brown; margin-top: 70px">Curriculum Vitae</h1></center>
        <center><img src="{% static 'cici.jpg' %}" width="10%" height="10%"></center>
        <center><h1>Lilis Safitri</h1></center>
        <center><h3 style="color: brown;">lilis.safitri@ui.ac.id</h3></center>
        <center><table border="1" cellpadding= "10">
                    <td>NPM</td>
                    <td>1906399272</td>
                </tr>
                <tr>
                    <td>Angkatan</td>
                    <td>Maung 2019</td>
                </tr>
                <tr>
                    <td>Jurusan</td>
                    <td>Sistem Informasi</td>
                </tr>
                <tr>
                    <td>Fakultas</td>
                    <td>Fasilkom UI</td>
                </tr>
                <tr>
                    <td>Hobi</td>
                    <td>Membaca, menonton film</td>
                </tr>
            </table></center>
            <h2>Deskripsi</h2>
        <p>
            Saya adalah mahasiswa jurusan sistem informasi di Fasilkom UI. Saya tipe orang yang ceria dan suka bercerita, dan mudah beradaptasi.
        </p>
        <p>
            Saya sangat menyukai makanan pedas, salah satunya adalah seblak. Saya juga sangat menyukai warna biru.
        </p>
        <h2>Riwayat Pendidikan</h2>
        <ul>
                <li>TK Islam Ar-Ridho - Lulus 2007</li>
                <li>SDN Sabajaya 2 - Lulus 2013</li>
                <li>SMPN Terbuka 1 Cibarusah - Lulus 2016</li>
                <li>SMA Islam Yaspia - Lulus 2019</li>
                <li>Universitas Indonesia - Sekarang</li>
        </ul>
    <h2>Sosial Media</h2>
       <p> Instagram    <a href="https://www.instagram.com/lilisafitr"> @lilisafitr </a></p> 
    </body>
{% endblock content %}
</html>