/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid black;
}

.tulisan {
    font-size: x-large;
    text-align: justify;
    margin-top: 100px;
}

.jumbotron{
    margin-top: 40px;
    height: 100%;
}

.jumbotron img {
    width: 300px;
    border: 5px solid rgba(230, 138, 63, 0.959);
    margin-bottom: 10px;
}

.jumbotron td {
    font-size: x-large;
}

.card {
    margin-top: 20px;
}

.h5 {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

}

.string {
    text-align: center;
}

.organisasi {
    margin-top: 30pz;
}

.foot{
    margin-top: 30px;
}

.page-footer{
  margin-top: 50px;
}

.btn {
      border: 1px solid #fff;
}

ul.social-buttons {
      color: gray;
}

ul.social-buttons li a {
      font-size: 40px;
      line-height: 40px;
      display: block;
      width: 80px;
      height: 80px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: black;
      border-radius: 100%;
      outline: none;
      margin-bottom: 10px;
}