{% extends 'base.html' %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<body style = "background-color:#F3AD78">
    <!--Organization Experience-->
    <div class="container" id="experience">
        <div class="row">
            <div class="col text-center">
                <div class="organisasi" style="margin-top: 50px"><h1>Organization Experience</h1></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/osis.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">OSIS SMP</h5>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/pramuka.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PRAMUKA</h5>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/paskibra.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PASKIBRA</h5>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/fuki.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FUKI </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}