{% extends "base.html" %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<h1 style = "color: black; margin-top: 50px"
class = "pb-3 mb-2 text-light text-center">
</h1>
<form action="matkul" method="POST">
	{% csrf_token %}
	<table>	
		<br>Nama Mata Kuliah: {{input_form.nama}}<br>
		<br>Dosen Pengajar: {{input_form.dosen}}<br>
		<br>Jumlah SKS: {{input_form.sks}}<br>
		<br>Tahun Ajaran: {{input_form.tahun}}<br>
		<br>Ruang Kelas: {{input_form.kelas}}<br>
		<br>Deskripsi: {{input_form.deskripsi}}<br>
		<input type="submit", value="Submit">
	</table>

</form>
{% endblock content %}

</html>