{% extends 'base.html' %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<body style = "background-color:#F3AD78">
<!--Hobby-->
        <div class="container" id="hobby">
            <div class="row">
                <div class="col text-center">
                    <h1 style="margin-top: 50px">Hobby</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114196.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Goblin</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114197.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">DOTS</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114198.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Crash Landing On You</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114199.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Del Luna</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114201.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pangandaran</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114200.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Yogyakarta</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114202.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jakarta</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/114203.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bandung</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
</html>