{% extends 'base.html' %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<body style = "background-color:#F3AD78"> 
    <!--Isi Website-->
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="judul" style="margin-top: 100px">
                        <h1 class="text-center" style="color: black;">Welcome to My World</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center">
                    <img src="{% static 'img/gambar.png' %}" alt="" class="thumbnail">
                </div>

                <div class="tulisan col-lg-6">
                    <p>Hai, perkenalkan namaku Lilis Safitri. Biasa dipanggil Cici atau Lilis. Aku berasal dari Bekasi, Jawa Barat.</p>
                    <p>Di dalam website ini sudah tersedia informasi tentang pengalaman, kegiatan yang sering dilakukan, karya, dan profil-ku.</p>
                    <p>Semoga kalian menyukainya.</p>
                </div>
            </div>    
        </div>
    </div>
</body>
{% endblock content %}
