{% extends 'base.html' %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<body style = "background-color:#FFD2B1"> 
    <!--Membuat profile-->
    <div class="jumbotron jumbotron-fluid" id="profile" style = "background-color:#FFD2B1">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="cv" style="margin-bottom: 50px">
                        <h1 class="text-center" style="color: black;">Curriculum Vitae</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="text-center" src="{% static 'img/cici_lagi.jpg' %}" alt="" class="thumbnail">
                </div>

                <div class="col-md-6">
                    <p>
                        <table>
                            <tbody><tr><td><b>Data Pribadi</b></td></tr>
                                <tr><td><b>Nama Lengkap</b></td><td>:</td><td>Lilis Safitri</td></tr>
                                <tr><td><b>Nama Panggilan</b></td><td>:</td><td>Lilis, Cici</td></tr>
                                <tr><td><b>NPM</b></td><td>:</td><td>1906399272</td></tr>
                                <tr><td><b>Angkatan</b></td><td>:</td><td>Maung 2019</td></tr>
                                <tr><td><b>Jurusan</b></td><td>:</td><td>Sistem Informasi</td></tr>
                                <tr><td><b>Fakultas</b></td><td>:</td><td>Ilmu Komputer UI</td></tr>
                                <tr><td><b>Hobi</b></td><td>:</td><td>Menonton film / drama, Travelling</td></tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>    

            <div class="row">
                <div class="col-md-6">
                    <p>
                        <table>
                            <tbody><tr><td><b>Pendidikan</b></td></tr>
                                <tr><td>TK Islam Ar-Ridho</td><td>(2006-2007)</td></tr>
                                <tr><td>SDN Sabajaya 2</td><td>(2007-2013)</td></tr>
                                <tr><td>SMPN Terbuka 1 Cibarusah</td><td>(2013-2016)</td></tr>
                                <tr><td>SMA Islam Yaspia</td><td>(2016-2019)</td></tr>
                                <tr><td>Universitas Indonesia</td><td>(2019-Sekarang)</td></tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="deskripsi col-md-6" style="font-size: x-large">
                    <p><b>Deskripsi</b></p><p>Saya adalah mahasiswa jurusan sistem informasi di Fasilkom UI. Saya tipe orang yang ceria dan suka bercerita, dan mudah beradaptasi. Saya sangat menyukai makanan pedas, salah satunya seblak. Saya juga sangat menyukai warna biru.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
