{% extends 'base.html' %} 
{% load static %}

{% block meta %}
<title>Lilis Safitri</title>
{% endblock meta %}

{% block content %}
<body style = "background-color:#FFD2B1"> 
<!--Project-->
    <div class="jumbotron jumbotron-fluid" id="project" style = "background-color:#FFD2B1; margin-bottom:150px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="string"><h1>Project</h1></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="">
                        <p class="h5">Maaf, belum tersedia :(</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}